[Unit]
Description=Sends temp to core on 8080

[Service]
Type=simple
ExecStart=/bin/bash /root/core/tools/bludom-daemon.sh start

[Install]
WantedBy=multi-user.target
